version: "3"
services:
  discord-bot:
    hostname: "discord-bot"
    container_name: "discord-bot"
    environment:
      - "PGID=${ID}"
      - "PUID=${ID}"
      - "TZ=${TZ}"
      - "UMASK=${UMASK}"
    image: "ghcr.io/cyb3rgh05t/discord-bot:latest"
    restart: "${RESTARTAPP}"
    networks:
      - ${DOCKERNETWORK}
    security_opt:
      - "${SECURITYOPS}:${SECURITYOPSSET}"
    ports:
      - "5000:5000"
      - "3033:3033"
    volumes:
      - "${APPFOLDER}/discord-bot/config:/app/config:rw"
      - "${APPFOLDER}/discord-bot/databases:/app/databases:rw"
      - "${APPFOLDER}/discord-bot/files:/app/files:rw"
      - "${APPFOLDER}/discord-bot/images:/app/images:rw"
      - "${APPFOLDER}/discord-bot/logs:/app/logs:rw"
    labels:
      - "dockupdater.enable=true"
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      # Web UI Router
      - "traefik.http.routers.bot-rtr.entrypoints=https"
      - "traefik.http.routers.bot-rtr.rule=Host(`bot.${DOMAIN}`)"
      - "traefik.http.routers.bot-rtr.priority=1"
      - "traefik.http.routers.bot-rtr.tls=true"
      - "traefik.http.routers.bot-rtr.tls.certresolver=dns-cloudflare"
      - "traefik.http.routers.bot-rtr.middlewares=chain-authelia@file"
      - "traefik.http.routers.bot-rtr.service=bot-svc"
      - "traefik.http.services.bot-svc.loadbalancer.server.port=5000"
      # Webhook Router (no auth)
      - "traefik.http.routers.bot-webhook-rtr.entrypoints=https"
      - "traefik.http.routers.bot-webhook-rtr.rule=Host(`bot.${DOMAIN}`) && PathPrefix(`/webhook`)"
      - "traefik.http.routers.bot-webhook-rtr.priority=2"
      - "traefik.http.routers.bot-webhook-rtr.tls=true"
      - "traefik.http.routers.bot-webhook-rtr.tls.certresolver=dns-cloudflare"
      - "traefik.http.routers.bot-webhook-rtr.service=bot-webhook-svc"
      - "traefik.http.services.bot-webhook-svc.loadbalancer.server.port=3033"
networks:
  proxy:
    driver: bridge
    external: true
