discord.py
discord-py-slash-command
py-discord-html-transcripts
aiohttp
captcha
pillow
PyNaCl
asyncio
psutil
python-dotenv
plexapi==4.17.1
texttable
requests
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
python-multipart>=0.0.9
pyjwt>=2.8.0
websockets>=12.0
